@import url('https://fonts.google.com/specimen/Roboto');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: #121212;
    color: #fff;
    
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 65px;
}



.second_nav_link {
    position: relative;
    left: 180px;
    width: 240px;
    font-size: 17px;
}

a.mid_link {
    color: #D9D9D9;
}


#pro {
    display: inline;
    position: relative;
    left: 5px;
    width: 27px;
    height: 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}



.third_nav_link {
    position: relative;
    left: 100px;
    width: 140px;
}

.fourth_nav_link {
    width: 150px;
}

.grouped {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.first_main {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 6%;
    background-image: url(img/Group\ 195.png);
    background-repeat: no-repeat;
    background-position: left 110% top 95%;
}

.first_main h1{
    padding-top: 50px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    background: linear-gradient(94.17deg,#FFFFFF 21%, rgba(255, 255, 255, 0.380208) 60%, #FFFFFF 68.52%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

.first_main img {
    margin-bottom: 65px;
}

.first_main p {
    font-family: 'Roboto', sans-serif;
    font-size: 26.33px;
    margin-bottom: 40px;
    color: #D9D9D9;
}

.options_box {
    display: flex;
    justify-content: center;
}

.options_box a {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 18px 55px;
}

.options_box  a:hover {
    color: black;
    background-color: #4EF314;
    border: #4EF314;
}


.second_main {
    margin-bottom: 150px;
    height: auto;
    z-index: 1;
}


#icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 115px;
}


#icon_box img {
    margin-left: 60px;
    z-index: 1;
}

/* this is the css codes for the animation effects on the tect feilds icons */


.react_div {
    position: relative;
}

.white_react {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    animation-name: whitereact; 
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}


@keyframes whitereact {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* this is the css code for the white sass */
.sass_div {
    position: relative; 
}



.whitesassimage {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    /* inserted animation css after this line of code */
    animation-name: lightmovement; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 5s;

}

@keyframes lightmovement {
    from {opacity: 0;}
    to {opacity: 1;}


}

 /* this is the css code for the white vue image */
.vuediv {
    position: relative;
}

.whitevue {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    animation-name: whitevue; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}


@keyframes whitevue {
    from {opacity: 0;}
    to {opacity: 1;}
}


 /* this is the css code for the white css image */
.cssdiv {
    position: relative;
}


.whitecss {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    animation-name: whitecss; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 9s;
}


@keyframes whitecss {
    from {opacity: 0;}
    to {opacity: 1;}
}

 /* this is the css code for the whitte html */
.smliddiv {
    position: relative;
}

.whitesmlid {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    animation-name: whitesmlid; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 11s;
}


@keyframes whitesmlid {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* this is the code for the white tailwind */
.tailwind_div {
    position: relative;
}

.white_tailwind {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    animation-name: whitetailwind; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 13s;
}


@keyframes whitetailwind {
    from {opacity: 0;}
    to {opacity: 1;}
}















 /* the effect on hover */
/* .sass_div:hover .whitesassimage {
    display: block;
} */



.vuediv:hover .whitevue {
    display: block;
}




/* ending of the hover and animation css */







#whtie_effect {
    position: absolute;
    bottom: 25%;
    right: 63%;
    z-index: 1;
}

.secondMain2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1208px;
    height: auto;   
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: large;   
    background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(358.97deg, rgba(217, 217, 217, 0.5) -30%, rgba(217, 217, 217, 0) 65.01%) border-box;
    border-radius: 17px;
    border: 1px solid transparent;
    padding: 60px 55px;
}



span {
    display: block;
    margin-top: 8px;
}

.innerbox {
    display: flex;
}

.secondMain2 div h2 {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
    z-index: 1;
}

.secondMain2 div a {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #4EF314;
    z-index: 1;
}

.innerbox  div h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 16px;
    margin-left: 16px;
}

.innerbox div p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #D9D9D9;
    margin-top: 15px;
    margin-left: 16px;
}

.innerboxlast {
    margin-top: 54px;
}

#thirdMain_box {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 767px;
    background-color: #757575;
}

.trending_link {
    padding-top: 60px;
    padding-bottom: 57px;
    text-align: center;
}

.trending_link a {
    width: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px 50px;
}


#basictrending {
    padding: 12px 40px;
}

.trending_link a:hover {
    background-color: #2B2B2B;
    border-color: #2B2B2B;
}


.getinspired_box h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 14px;
}

.getinspired_box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 28px;
}

.getinspired_box a {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #4EF314;
}

#beachdesign {
    margin-top: 90px;
}




#tutorialProfileParent_box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}


.littleProfile {
    position: absolute;
    top: 51.34%;
    display: flex;
    justify-content: space-between;
    width: 257px; /* the code after this was changed for test */
    height: 98px;
    background-color: #414141;
    padding: 18px;
    transition: height 0.7s;
}

.littleprofile_1stp {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.littleprofile_2stp {
    font-weight: 300;
    font-size: 8px;
    line-height: 9px;
    margin-top: 8px;
    color: #FFFFFF;
}


/* testing code samples  */


.littleProfile:hover {
    opacity: 0.9;
    height: 111px;
}



.show_reaction{
    display: none;
}

.reaction {
    position: relative;
    bottom: 70px;
    left: 15px;
    z-index: 1;
    margin-right: 12px;
}



.testing_hover:hover .show_reaction {
    display: block;
    position: absolute;
    opacity: 1;

}




.fourth_main {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20%;

}

.fourth_main1 {
    text-align: center;
    width: 100%;
    height: 488px;
    padding-top: 50px;
    background-image: linear-gradient(184.73deg, #757575 31.72%, rgba(117, 117, 117, 0) 96.18%);
}

.fourth_main1 h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.fourth_main1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #D9D9D9;
    margin-top: 12px;
    margin-bottom: 25px;

}

.fourth_main1 a {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #4EF314;
}


#bigcode_editor {
    position: absolute;
    top: 33%;
    left: 16.22%;
}

.middlelight {
    position: absolute;
    left: 30%;
    top: -116px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 523px;
    height: 523px;
    text-align: center;
    background-image: url(img/Ellipse\ 12.png);
    background-repeat: no-repeat; 
    z-index: -1;
}

.middlelight h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}



.testimony {
    display: flex ;
    justify-content: center;
    position: relative;
    bottom: 170px;
    width: 100%;
    height: 320px;
    margin-top: 30%;

}

.middle_testimony {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 567px;
    height: 480px;
    padding-top: 70px;
    background-image: url(img/Group\ 180.png);
    background-repeat: no-repeat;
    
}

.middle_testimony h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #4EF314;
    padding-bottom: 60px;
}

.middle_testimony img {
    padding-bottom: 18px;
}

.middle_testimony p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.arrows {
    position: relative;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.trusted_devs_box {
    text-align: center;
    margin-bottom: 140px;
}

.team_div {
    position: relative;
    width: 1086px;
    height: 345px;
    margin-top: 140px;
    margin: auto;
    background-image: url(img/Rectangle\ 90.png);
    margin-bottom: 150px;
}

#leftbrightness {
    position: absolute;
    bottom: 0px;
    right: 64%;
}


.team_box {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 16px;
    left: 78px;
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: auto;
    z-index: 1;
    
}


.team_box h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-top: 55px;
    margin-bottom: 18px;
}

.team_box h2 img {
    position: relative;
    top: 3px;
}

.team_box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #8D8D8D;
    margin-bottom: 25px;
}

.team_box a {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #4EF314;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

.footer a {
    display: block;
}

#lasticons_box {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}



.lastheadings {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 40px;
}

.lastlinks {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #D9D9D9;
    margin-bottom: 40px;

}

#lastspan {
    position: relative;
    bottom: 4px;
    display: inline;
    font-weight: 600;
    font-size: 8px;
    line-height: 9px;
    color: #4EF314;
}