@import url('https://fonts.google.com/specimen/Roboto');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: black;
    color: #fff;
    padding: 65px;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}



.second_nav_link {
    position: relative;
    left: 180px;
    width: 240px;
    font-size: 17px;
}

a.mid_link {
    color: #D9D9D9;
}


#pro {
    display: inline;
    position: relative;
    left: 5px;
    width: 27px;
    height: 16px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}



.third_nav_link {
    position: relative;
    left: 100px;
    width: 140px;
}

.fourth_nav_link {
    width: 150px;
}

.grouped {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.first_main {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    background-image: url(img/Group\ 195.png);
    background-repeat: no-repeat;
    background-position: left 128% top 95%;
}

.first_main h1{
    padding-top: 50px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    background: linear-gradient(94.17deg,#FFFFFF 21%, rgba(255, 255, 255, 0.380208) 60%, #FFFFFF 68.52%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

.first_main img {
    margin-bottom: 65px;
}

.first_main p {
    font-family: 'Roboto', sans-serif;
    font-size: 26.33px;
    margin-bottom: 40px;
    color: #D9D9D9;
}

.options_box {
    display: flex;
    justify-content: center;
}

.options_box a {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 18px 55px;
}

.options_box  a:hover {
    color: black;
    background-color: #4EF314;
    border: #4EF314;
}

#icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon_box img {
    margin-left: 60px;
}